.title {
    padding: 40px;
    font-family: montserrat;
    font-size: 35px;
}

.secretariaDiv, #semMensagem {
    text-align: center;
    border: 1px solid #000000;
    border-radius: 7px;
    margin: 2%;
}

#semMensagem {
    display: none;
    height:200px;
    padding: 50px;
    width: 96%;
}

#semMensagem h1 {
    display: table-cell;
    vertical-align: middle;
    font-family: arial,sans-serif;
    color: red;
}

.secretariaForm {
    font-size: 27px;
    padding: 10px;
}

.secretariaAncor {
    font-size: 27px;
    padding: 10px;
    color: black;
}

.secretariaAncor:hover  {
    background-color: white;
    text-decoration: underline;
    color: black;
}

.form {
    margin-left: 37.5%;
    margin-top: 20px;
}

.form fieldset {
    margin-bottom: 15px;
    padding: 20px;
    text-align: center;
    width: 40%;
}

.form legend {
    padding: 5px
}

.comunicado {
    height: 50%;
}

.comunicado div {
    margin-bottom: 15px;
}

#button {
    font-size: 25px;
    width: 40%;
    padding: 2px;
}

.titulo {
    text-align: center;
}

/* Estilo de página de consulta de matrícula */

#matricula, #notasTurma, #frequenciaTurma, #atividadeExtra {
    margin-top: 10px;
    min-width: 400px;
    width: 29%; 
    margin-left: auto;
    margin-right: auto;
}

#matricula {
    max-height: 515px;
    min-height: 50px;
    padding: 20px;
}

#matricula p {
    padding: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 20px;
    text-align: left;
}

td {
    height: 20px;
    vertical-align: bottom;
}

th, td {
    padding: 15px;
    text-align: left;
}

table, th, td {
    border: 1px solid black;
}

#naoEncontrado {
    color: red;
    font-size: 20px;
}

/* Estilo de página de mensagens recebidas */

.mensagem {
    position:relative;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    min-width: 1200px;
}

.mensagem p {
    padding: 3px;
}

.botao {
    position:absolute;
    left: 90%;
    top: 30%;
    font-size: 15px;
    width: 100px;
    cursor: pointer;
}

/* Estilo da página de exportar notas */

#notasTurma, #frequenciaTurma, #atividadeExtra {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

#notasTurma p, #frequenciaTurma p {
    padding: 3px;
}

.tabelaNotas, .tabelaFrequencia {
    margin-bottom: 15px;
}